/* LOGIN */

header {position: absolute;left: 0;right: 0;background: transparent;z-index: 999;}
header .bg-light {background:none !important;}
header .navbar .navbar-brand {color:#fff;}

.entrar-row {height:100vh;}
.entrar input {width: 100%;border: 1px rgba(0, 0, 0, 0.09) solid;padding: 10px 15px;margin-bottom: 10px;font-size: 13px;}
.entrar input[type="submit"]{margin-bottom:25px;}
.entrar form {text-align:left;padding:0 80px;}
.entrar form a {display:block;color:#000;font-size:13px;transition:.6s;}
.entrar form a:hover {text-decoration:none;opacity:.6;transition:.6s;}
.entrar form h4 {font-size: 14px;font-weight: bold;border-bottom: 1px #000 solid;padding-bottom: 10px;margin-top:10px;}

.navbar-brand {transition:.6s;}
.navbar-brand:hover {color:#fff !important;text-decoration:none;opacity:.6;transition:.6s;}