html, body {margin:0;padding:0;scroll-behavior: smooth;}
body{ font-family: 'Raleway', sans-serif;}


@font-face{
    font-family:Matter-Bold;
    src: url(../fonts/Matter-Bold.otf) format('opentype');
}

@font-face{
    font-family:Matter-SemiBold;
    src: url(../fonts/Matter-SemiBold.otf) format('opentype');
}

@font-face{
    font-family:Matter-Medium;
    src: url(../fonts/Matter-Medium.otf) format('opentype');
}

@font-face{
    font-family:Matter-Regular;
    src: url(../fonts/Matter-Regular.otf) format('opentype');
}

a {color: #fff;}

sub {
    bottom: -0em;
    font-size: 50%;
    left: 0px;
}

.section.intern-categoria .table-tecnicas {margin-bottom: 25px;margin-top: 25px;}
.section.intern-categoria .table-tecnicas p {height: 100%;display: flex;align-items: center;justify-content: center;font-size: 12px;padding: 7px 5px;border: 1px #af79df solid;text-align: center;}
.section.intern-categoria .table-tecnicas .flex-tb-hed {flex: 0 0 20%;}
.section.intern-categoria .table-tecnicas .flex-tb-hed-02 {flex: 0 0 25%;}
.section.intern-categoria .table-tecnicas .flex-tb-hed-03 {flex: 0 0 33.33%;}

.box-content-robot {display:none;background: #fff;border-radius: 10px;padding: 10px 15px 30px;margin-bottom: -20px;}
.box-content-robot p {margin:0;color: #001870;font-family:Matter-Medium;max-width: 210px;font-size: 12px;}

.close-roboto-box {    position: absolute;
    right: -5px;
    top: -5px;
    background: #5268e2;
    color: #fff;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 100%;
    padding: 8px 8px 7px;
    font-weight: bold;
    z-index:99;
    cursor:pointer;}



.tori-robot.active-robot img {max-width: 150px;}
.tori-robot.active-robot .number {opacity:0;transition:.6s;}

.tori-robot {position: absolute;left: 2%;top: 6%;z-index:6;text-align:center;}
.tori-robot img:hover {cursor:pointer;opacity:.6;transition:.6s;}
.tori-robot img {max-width:85px;transition:.6s;}
.tori-robot .number {transition:.6s;position: absolute;top: -5px;font-size: 12px;width: 15px;height: 15px;display: flex;align-items: center;justify-content: center;min-width: inherit;right: -5px;margin: 0;background: #5268e2;color: #fff;font-weight: bold;}

.item-hints{
    height: auto;
    width: auto;
    display: inline-block;
}
.item-hints .hint {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:2px #fff solid;
}

.hint-content p {
    font-family: 'Matter-Bold' !important;
    color: #fff !important;
    font-size: 15px !important;
    margin: 0 !important;
    text-align: left;
}
#pills-tabContent .owl-dots {border:none;}

.btn-contact {position: absolute;right: -10%;bottom: 20%;transition: .6s;z-index:999;}
.btn-contact a {background: #5369e5;color: #fff;display: inline-block;padding: 12px 13px 12px 19px;font-size: 22px;border-radius: 25px 0px 0px 25px;}

.btn-contact.transition-load, .btn-home.transition-load {transition: .6s;right:0;}

.btn-home {position: absolute;right: -10%;bottom: 29%;transition: .6s;z-index:999;}
.btn-home a {background: #001871;color: #fff;display: inline-block;padding: 12px 13px 12px 19px;font-size: 21px;border-radius: 25px 0px 0px 25px;}

@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%,-0%) scale(.95);
  transform: translate(-0%,-0%) scale(.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
}
@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
.item-hints .hint-radius {
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,transform;
  transition-property: background-color,opacity,visibility,transform,-webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
}
.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}

.tag {position: absolute;right: 0;top: 0;border-radius: 0px 10px 0 0;padding: 10px;font-size: 9px;font-family: Matter-Bold;margin: 0;line-height: normal;background: #001871;color: #fff;}
.tag span {display:inline-block;margin-left:4px;}
.item-hints .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}
.item-hints .hint:hover .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 80px;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}

.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 11px;
  box-sizing: border-box;
  margin: 15px 0;
}

.disclamer {font-family: Matter-Regular;font-size: 13px;margin: 0;}

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
  font-size: 0;
}
.js .pn-ProductNav {
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
}
.js .pn-ProductNav::-webkit-scrollbar {
  display: none;
}

.pn-ProductNav_Contents {
  float: left;
  transition: transform 0.2s ease-in-out;
}

.pn-ProductNav_Contents-no-transition {
  transition: none;
}

.pn-ProductNav_Link {
      background: #001871;
    opacity: .5;
    color: #fff;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 25px 9px;
    width: auto;
    border-radius: 10px;
    margin: 0 5px;
        font-family: Matter-Regular;
}

.pn-ProductNav_Link[aria-selected=true] {
    background: #001871;
    opacity: 1;
    color: #fff;
}

.pn-Advancer {
  /* Reset the button */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity 0.3s;
}
.pn-Advancer:focus {
  outline: 0;
}
.pn-Advancer:hover {
  cursor: pointer;
}

.pn-Advancer_Left {
  left: 0;
}
[data-overflowing=both] ~ .pn-Advancer_Left, [data-overflowing=left] ~ .pn-Advancer_Left {
  opacity: 1;
  margin: 0 -15px;
}

.pn-Advancer_Right {
  right: 0;
}
[data-overflowing=both] ~ .pn-Advancer_Right, [data-overflowing=right] ~ .pn-Advancer_Right {
  opacity: 1;
  margin: 0 -15px;
}

.pn-Advancer_Icon {
    width: 12px;
    height: 30px;
    fill: #001871;
}

.pn-ProductNav_Indicator {
  position: absolute;
  display:none;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: #f90;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}
#slideproduct.owl-loaded {height:78%;margin-bottom:25px;}

.table-lamina {width:70%;margin:0;}
.head-table {width:100%;background: #001871;color: #fff;padding: 2px 15px;font-family: Matter-Bold;text-align: center;font-size: 15px;border: 1px #fff solid;border-bottom: none;}
.table-lamina .content {flex: 1;display: inline-flex;flex-direction: column;align-items: center;margin: 0 !important;background: #F2F5FB;height: 100%;}
.table-lamina .content p {font-size: 12px !important;padding: 10px 0 10px!important;width: 100%;text-align: center;border: 1px #fff solid;margin: 0 !important;height: 100%;display: flex;align-items: center;justify-content: center;}
.etiquetas-products-todos {background: #DBE2E9;color: #fff;font-size: 14px;font-family: Matter-SemiBold;}

.todas-super {font-family: Matter-SemiBold;font-size: 16px;color: #000839;}

.absolute-text-clasific {position: absolute;left: 0;font-size: 18px;font-family: Matter-Regular;color: #001871;}
.absolute-text-clasific strong {font-family:Matter-Bold;color:#001871;}

.section.intern-categoria.pornivel h3 {background:#fff;font-family: 'Matter-Regular';font-size: 30px;padding:30px 0;}
.section.intern-categoria.pornivel h3 strong {font-family:Matter-Bold;}
.section.intern-categoria.pornivel h5 {background: #6376e1;padding: 50px 0;text-align: center;font-family: Matter-Bold;color: #fff;font-size: 20px;margin: 0;}
.section.intern-categoria.pornivel p {min-height:240px;background: #5369E3;padding: 30px 60px 80px;text-align: left;font-family: 'Matter-Regular';color: #fff;margin: 0;font-size: 16px;}

.modal-posicionamiento.active-modal {z-index:99;opacity:1;transition:.6s;}
.modal-posicionamiento {opacity:0;z-index:-9999;position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgb(0 24 113 / 26%);display:flex;align-items:center;justify-content:center;flex-direction:column;}
.modal-posicionamiento .content-posicion {background: #fff;max-width: 750px;width: 100%;padding: 30px;position:relative;}
.modal-posicionamiento .content-posicion .close-modal {cursor:pointer;position: absolute;right: -10px;top: -10px;background: hsl(227deg 100% 22%);color: #fff;width: 20px;height: 20px;border-radius: 100%;display: flex;align-items: center;justify-content: center;font-weight: bold;font-size: 10px;}
.modal-posicionamiento .content-posicion h3 {margin:0px;font-size: 16px;text-align: left;}
.modal-posicionamiento .content-posicion img {max-width:300px;}

.image-posicion {max-width: 100%;min-height: 500px;background-size: contain !important;background-position: center !important;background-repeat: no-repeat !important;}

#img-zoomer-box {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
}

#img-1 {
  width: 100%;
  height: auto;
}

#img-zoomer-box:hover, #img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}

#img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
  opacity: 1;
}
#img-2 {
  width: 340px;
  height: 340px;
  background: url('https://bit.ly/2mgDw0y') no-repeat #FFF;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  pointer-events: none;
  position: absolute;
  opacity: 0;
  border: 4px solid whitesmoke;
  z-index: 99;
  border-radius: 100%;
  display: block;
  transition: opacity .2s;
}


.item01:hover,
.item02:hover,
.item03:hover,
.item04:hover,
.item05:hover,
.item06:hover,
.item07:hover,
.item08:hover {
	cursor:pointer;
	fill:#001871 !important;
	transition:.6s;
}

.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}

.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -231px;
}

.option .fa-codepen
{
    color: #000;
}

.option .fa-dribbble
{
    color: #ea4c89;
}

.option .fa-behance
{
    color: #0057ff;
}

.option .fa-hackerrank
{
    color: #32c766;
}

.option .fa-stack-overflow
{
    color: #f48024;
}

.option .fa-free-code-camp
{
    color: #006400;
}

#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  display: block;
  height: auto;
  padding: 0;
  border: none;
  font-size: inherit;
  line-height: inherit;
  background: none;
  vertical-align: inherit;
  margin: 0 5px;
  flex: 1;
}

.custom-select input {
    background-color: #af79df;
    box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 36%);
    border-radius: 10px;
    font-family: Matter-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 11px 25px 12px !important;
    text-transform: uppercase;
    font-size: 13px;
    border:none;
    width:100%;
    color: #fff;
}

.custom-select select {
  display:block; /*hide original SELECT element:*/
  opacity: 0;
  height: 0;
  font-size: 0px;
}

.error {position:absolute;left:0;right:0;bottom:-35px;color: #001871;font-family: Matter-Bold;}
.select-selected {
  background-color: #001871;
  box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 36%);
  border-radius: 10px;
  font-family: Matter-Regular;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 11px 25px 12px !important;
  text-transform: uppercase;
  font-size: 13px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  bottom:0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 14px;
  position:relative;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #af79df;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.active-item {fill:#001871 !important;transition:.6s;}
.menu {text-align:right;position:relative;display:flex;align-items:center;justify-content:flex-end;}
.menu .config {display:inline-block;position:relative;}
.menu .config:hover {cursor:pointer;}
.menu .config p {margin: 0;font-size: 8px;position: absolute;top: -5px;right: -5px;background: #5369e3;color: #fff;width: 12px;height: 12px;display: flex;align-items: center;justify-content: center;font-weight: bold;border-radius: 100%;font-family: Matter-Regular;}
.menu .config i {color: #af79df;font-size: 18px;}
.menu #hamburger {display:inline-block;}
.html-hidde-overflow {width:100%;overflow:hidden !important;display: flex;flex-wrap: wrap;height: 100%;padding:0px;}

a {transition:.6s;}
a:hover, a:focus {text-decoration:none;opacity:.6;transition:.6s;}

#gridproducts .owl-stage {display:flex;align-items:center;justify-content:center;width:100%!important;}

#overlay {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: #fff;color: #001871;text-align: center;display: flex;align-items: center;justify-content: center;z-index:9999;overflow:hidden !important;}
.overflow-hidden {overflow:hidden !important;}
.typed-cursor {display:none;}
.logo-header {padding:0px;}
.logo-header img {max-width:180px;padding:15px;}

.header {position:absolute;left:0;right:0;top:0;z-index:2;}
.footer {position:absolute;left:0;right:0;bottom:0;padding:0;background:none;z-index:0;}
.home-section {padding:40px 80px 80px;background:none;height: 100%;display: flex;flex: 0 0 100%;max-height:100%;flex-direction:column;align-items:center;justify-content:center;text-align:center;background-size:cover !important;background-position:top center !important;}
.home-section h4 {color: #201547;font-family: Matter-Bold;font-size: 53px;margin: 0;}
.home-section p {text-transform:uppercase;font-family: Matter-Regular;margin: 0 auto;font-size: 15px;color: #201547;max-width:70%;}
.home-section p a {color: #000;}
.contante-info-home {height:100%;background: rgb(0 24 113 / 50%);width: 30%;display: flex;flex-direction: column;padding: 40px;}
.back-img-principal {background:url('../img/imagen_principal.png');height:70%;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;background-size:cover !important;background-position:right !important;}
.back-img-principal h4 {font-family: Matter-Bold;color: #fff;margin: 0;font-size: 4.2em;line-height: .9;}
.back-img-principal p {font-family: Matter-Regular;color: #fff;margin: 25px 0 0;max-width: 100%;font-size: 1.1em;line-height: normal;}
.back-img-principal p b {font-family:Matter-Bold;font-weight:normal;}

.botton-home {flex: 0 0 25%;background: #001871;margin: 10px 15px;box-shadow:1px 1px 15px 3px rgb(0 0 0 / 36%);display: flex;align-items: center;justify-content: center;flex-direction: column;padding: 0px;width: auto;border-radius:10px;}
.botton-home h3 {text-transform:uppercase;color: #fff;margin:11px 25px 12px;font-family: Matter-Regular;font-size: 13px;line-height: 1;min-width: 175px;}
.line-bottom-btns {width:100%;height:15px;}

.btns-home {margin-top: auto;}

.back-ground-section-01 {background:url('../img/img_section_01.png');height:50%;background-size:cover !important;background-position:center !important;width:100%;height:100%;display: flex;align-items: center;position: relative;}
.back-ground-section-01 .content-info-cat {height: 100%;flex: 0 0 50%;background: rgb(0 24 113 / 50%);display: flex;justify-content: flex-end;flex-direction: column;padding: 50px 35px;}
.back-ground-section-01 .content-info-cat h3 {font-family: Matter-Bold;color: #fff;margin: 0;font-size:45px;}
.back-ground-section-01 .content-info-cat p {font-family: Matter-Regular;color: #fff;margin: 0;font-size:17px;}

.content-clasif {background:#fff;}
.content-clasif .content-padd {padding:20px 35px;}
.content-clasif .content-padd h3 {margin:0 0 30px;font-size: 31px;}
.content-clasif .content-padd p {font-size:18px;margin: 20px 0;}
.content-clasif .content-padd ul {list-style: disc;padding: 0 15px;}
.content-clasif .content-padd ul li {font-size: 22px;line-height: 1;}
.content-clasif .degrade-border {margin-top: auto;min-height:12px;width:100%;background: rgb(1,176,151);background: linear-gradient(118deg, rgba(1,176,151,1) 0%, rgba(83,105,227,1) 100%);}

.carousel-indicators {margin-bottom:4%;}
.carousel-indicators li {width:12px;border:none;height:12px;margin: 0 7px;border-radius:100%;background:#DBE2E9;}
.carousel-indicators li.active {background:#5369E3;}

.producto-section .container {max-width:100%;}
.producto-section {max-width:100%;padding:40px 80px 40px;background:none;height: 100%;display: flex;flex: 0 0 100%;max-height:100%;flex-direction:column;align-items:center;justify-content:center;text-align:center;background-size:cover !important;background-position:center !important;}
.producto-section h4 {color: #201547;font-family: Matter-Bold;font-size: 53px;margin: 0;}
.producto-section p {text-transform:uppercase;font-family: Matter-Regular;margin: 0;font-size: 16px;color: #201547;}
.producto-section p a {color: #000;}
.producto-section .row-producto .col-md-7 img {max-width:85%;margin: 0 auto;}
.producto-section .row-producto h3 {text-transform: uppercase;text-align: left;font-size: 26px;color: #001871;font-family: Matter-Bold;}
.producto-section .row-producto p {text-align: left;color: #000000;font-size: 15px;line-height: 1.2;margin-bottom: 25px;}
.section.intern-categoria .link-comp {position:relative;z-index:1;box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 15%);background: #a05eb5;border-radius: 10px;text-transform: uppercase;color: #fff;padding: 11px 50px 12px;font-family: Matter-Regular;font-size: 13px;line-height: 1;margin-top:0px;display: inline-block;}

.componente-section {padding:40px 80px 80px;background:none;height: 100%;display: flex;flex: 0 0 100%;max-height:100%;flex-direction:column;align-items:center;justify-content:center;text-align:center;background-size:cover !important;background-position:center !important;}
.componente-section h4 {color: #201547;font-family: Matter-Bold;font-size: 46px;margin: 0;}
.componente-section p {text-transform:uppercase;font-family: Matter-Regular;margin: 0;font-size: 16px;color: #201547;}
.componente-section p a {color: #000;}
.componente-section .content-componente .img-comp {min-height:90px;width:100%;background-color:#fff !important;background-size:contain !important;background-position:center !important;background-repeat: no-repeat !important;}
.componente-section .content-componente {position:relative;max-height: 50%;height: 100%;display: flex;flex-direction: column;align-items: stretch;margin-bottom:5px;width:100%;background: #fff;padding: 15px 0px 0px;border-radius: 10px;}
.componente-section .content-componente h3 {text-align: left;color: #fff;font-size: 13px;font-family: Matter-Bold;margin: 0;}
.componente-section .content-componente p {text-align: left;color: #fff;font-size: 9px;}
.componente-section .box-content-comp {position:relative;background: linear-gradient(90deg, rgba(83,105,228,1) 0%, rgba(175,121,223,1) 100%);padding: 10px 10px 0px;margin-bottom:0px;height:100%;border-radius: 0px 0px 10px 10px;}

.slider-products .owl-stage {display: flex;align-items:stretch;}
.slider-products.owl-drag .owl-item {display: flex;flex-direction: column;align-items:stretch;}
.slider-products.owl-drag .owl-item .item {height: 100%;display:inline-flex;flex-wrap:wrap;align-items:stretch;justify-content:center;}
.clasificacion-slider .owl-dots {position: absolute;right:0;left:0;bottom: 40px;}
.clasificacion-slider .owl-dots .owl-dot {width:12px;height:12px;border-radius:100%;}

.slider-products .owl-stage-outer {height:100% !important;}

#frmCart {display:inline-block;}
#frmCart .btnAdded {opacity:.5;transition:.6s;pointer-events:none;}
#frmCart input[type="button"] {text-transform: uppercase;font-family: Matter-Regular;border:none;position: relative;z-index: 2;background: #af79df;font-size: 12px;display: inline-block;color: #fff;cursor: pointer;padding: 10px 25px 10px;width: auto;border-radius: 10px;}

.pads-select .custom-check {position: absolute;right:25px;width: auto;display: block !important;top: 15px;}
.pads-select .custom-check .leabel-cust {margin:0px}
.pads-select .checkmark {width:15px;height:15px;}

.opc-select .custom-check {position: absolute;right:25px;width: auto;display: block !important;top: 15px;}
.opc-select .custom-check .leabel-cust {margin:0px}
.opc-select .checkmark {width:15px;height:15px;}

.contents-boxes .line-absolte-box {width: 15px;height: 100%;position: absolute;left: 0;top: 0;bottom: 0;z-index: 2;}

.enlces-internos {padding-left: 15px !important;height:100%;display:flex;align-items:stretch;flex-direction: column;}
.enlces-internos .enlace {display: block;width: 100%;height: 100%;display: flex;flex-wrap:wrap;align-items: flex-end;justify-content: flex-end;padding: 0;background: #d5dde5;}
.enlces-internos .enlace p {display: inline-block;margin-left: auto;font-family: Matter-Bold;font-size: 1.3em;margin-right: 15px;margin-bottom: 10px;}
.enlces-internos .enlace .line-btn {width: 25px;height: 100%;display: inline-flex;color: #fff;align-items: flex-end;justify-content: center;font-size: 20px;font-family: Matter-Bold;padding-bottom: 5px;}
.enlces-internos .enlace:nth-child(2) {margin:15px 0;}

/* Customize the label (the container) */
.leabel-cust {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.leabel-cust input {
  position: absolute;
  opacity: 0;
  font-size:0px;
  cursor: pointer;
}
.custom-check {display:none !important;}
.content-comp {width:100%;}
.custom-check, .content-comp {display:inline-block;}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border:1px #000 solid;
}

/* On mouse-over, add a grey background color */
.leabel-cust:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.leabel-cust input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.leabel-cust input:checked ~ .checkmark:after {
  display: block;
}


#hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

}
#hamburger svg {margin-left:auto;position:relative;z-index:9;}
#hamburger .line {
  fill: none;
  stroke: #5369e3;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 7;
}
#hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 7;
}
#hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 7;
}
#hamburger.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: #fff;
  transition:.6s;
}
#hamburger.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
#hamburger.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: #fff;
  transition:.6s;
}

.open .menu-content {transition:.6s;transform: translate(0%, 0px);}

.content-cart.activecart {transition:.6s;transform:translate(0px);opacity:1;z-index:7;display:block !important;}
.content-cart {max-height:400px;overflow:auto;display:none !important;transform: translate(0, -20%);opacity: 0;z-index: -2;transition: .6s;position: absolute;right: 4%;top: 70%;background: #fff;padding: 10px;}
.content-cart .gill-cart {min-width:200px;border-bottom: 1px #ccc solid;margin-bottom: 5px;padding-bottom: 5px;}
.content-cart .img-cart {display:inline-block;width:50px;height:50px;background-size:contain !important;background-position:center !important;background-repeat:no-repeat !important;}
.content-cart img {max-width:50px;}
.content-cart .btn-borrar {margin-left:auto;color: #001871;font-size: 13px;}
.content-cart .btn-borrar:hover {cursor:pointer;}
.content-cart .finalizar {width: 100%;text-align: center;}
.content-cart .finalizar a {background-color: #af79df;border-radius: 10px;font-family: Matter-Regular;display: flex;align-items: center;justify-content: center;line-height: 1;padding: 9px 25px 10px !important;text-transform: uppercase;font-size: 10px;border: none;width: 100%;color: #fff;max-width: 120px;margin: 10px 0 0 auto;}
.content-cart .detalle-cart {display:inline-block;margin-right:20px;}
.content-cart .detalle-cart p {font-family: Matter-Regular;margin: 0 10px;text-align: left;font-size: 14px;}

.menu-content {text-align:left;position: fixed;right: 0;min-width: 300px;background:#5369e5;bottom: 0;top: 0;padding:30px 50px;transform: translate(100%, 0px);z-index: 8;transition: .6s;}
.menu-content .idioma a {font-size: 13px;opacity:.6;color: #000;text-transform:capitalize;}
.menu-content .idioma a.active {opacity:1;color: #fff;}
.menu-content .idioma li {display:inline-block;margin-right:5px;} 
.menu-content a {margin-bottom:5px;color: #fff;font-family: 'Matter-Medium';text-decoration: none;display: inline-block;text-transform:uppercase;}

.header-botonera {min-height: 13vh;max-height: 13vh;}
.header-botonera a {flex:1;}
.header-botonera .active-boton {background:#001871 !important;padding:25px 73px;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.header-botonera .active-boton p {font-family: Matter-Bold;color: #fff;display: block;font-size: 27px;margin: 0 0 5px;line-height: normal;}
.header-botonera .active-boton img {max-width:150px;}
.header-botonera .no-active-boton {background:#DBE2E9;padding:25px 73px;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.header-botonera .no-active-boton p {font-family: Matter-Bold;color: #fff;display: block;font-size: 27px;margin: 0 0 5px;line-height: normal;}
.header-botonera .no-active-boton img {max-width:150px;opacity:0;}

.modal-dialog {margin:10% auto;}
.modal-open .modal {background: rgb(0 0 0 / 0.7);}
.todas-super {font-size:18px;}

.section.intern-categoria {background:none;padding:0px;margin-top:20px;height:auto;margin-bottom:auto;display:flex;flex-wrap:wrap;}
.section.intern-categoria .content-cat-flex {flex:1;}
.section.intern-categoria h3 {font-family: Matter-Bold;margin:0 0 5px;color:#a05eb5;font-size: 28px;line-height: normal;}
.section.intern-categoria .resultado-link a {padding: 10px 30px;transition: .6s;margin: 0 3px;display: inline-block;color: #fff;background: #5369E2;font-size: 15px;font-family: Matter-Bold;margin-top: 10px;}
.section.intern-categoria p {text-transform:inherit;font-family: Matter-Regular;margin: 0px;color:#000000;line-height: normal;font-size: 15px;}
.section.intern-categoria .btn-ir {font-family: Matter-Bold;display: inline-block;color: #fff;padding: 10px 20px 13px;background: #5369E3;line-height: normal;font-size: 16px;}
.section.intern-categoria .content-cat-flex .card-header {padding:0px;margin-bottom: 0;background-color: rgba(0,0,0,.03);border-bottom: none;border-radius: 0px;background: #AAB6C8;}
.section.intern-categoria .content-cat-flex .card-header button.collapsed {background: #AAB6C8;}
.section.intern-categoria .content-cat-flex .card-header button:focus, .section.intern-categoria .content-cat-flex .card-header button:hover {outline:none;text-decoration:none;}
.section.intern-categoria .content-cat-flex .card-header button  {outline:none;text-decoration:none;transition: .6s;display: inline-block;color: #fff;background: #26A1AF;font-size: 13px;font-family: Matter-Bold;padding: 15px 30px;width: 100%;text-align: left;border-radius: 0px;}
.section.intern-categoria .content-cat-flex .card {background:transparent;border: 0px;margin-bottom:5px;border-radius: 0px;}
.section.intern-categoria .content-cat-flex #accordion {width:100%;display:block;}

.section.intern-categoria .producto-02-lamina-02 h3 {color: #a05eb5;font-size: 25px;margin: 0 0 10px;}
.section.intern-categoria .producto-02-lamina-02 p {color: #000;font-size: 14px;text-transform: inherit;}
.section.intern-categoria .producto-02-lamina-02 .col-md-6 {height:100%;}
.section.intern-categoria .producto-02-lamina-02 .icon-item {display:flex;align-items:center;max-width:65%;}
.section.intern-categoria .producto-02-lamina-02 .content-img-product {position: absolute;bottom: 0;}
.section.intern-categoria .producto-02-lamina-02 .icon-item img {max-width:85px;}
.section.intern-categoria .producto-02-lamina-02 .icon-item .info-item {text-align:left;}
.section.intern-categoria .producto-02-lamina-02 .icon-item h4 {font-size: 16px;color:#a05eb5;}
.section.intern-categoria .producto-02-lamina-02 .icon-item p {font-size: 10px;margin: 0;}
.section.intern-categoria .producto-02-lamina-02 .content-img-product img {max-width: 85%;}

.section.intern-categoria .producto-02-lamina-03 {background:none;}
.section.intern-categoria .producto-02-lamina-03 h3 {font-size: 20px;color: #a05eb5;}
.section.intern-categoria .producto-02-lamina-03 h5 {text-align: left;font-size: 16px;font-family: Matter-Bold;color: #1e1246;margin: 5px 0;}
.section.intern-categoria .producto-02-lamina-03 p {font-size: 14px;margin: 0;text-transform: inherit;color: #1e1246;}
.section.intern-categoria .producto-02-lamina-03 .img-left {display: flex;align-items: center;position: relative;justify-content:flex-start;margin-top:25px;}
.section.intern-categoria .producto-02-lamina-03 .img-left .content-left {position: absolute;left: 0;bottom: 20%;top: 0;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;max-width: 40%;}
.section.intern-categoria .producto-02-lamina-03 .img-left .content-left h4 {font-size: 12px;text-align: left;color: #a05eb5;}
.section.intern-categoria .producto-02-lamina-03 .img-left .content-left p {font-size: 10px;text-transform: capitalize;color: #1e1246;margin: 0;}
.section.intern-categoria .producto-02-lamina-03 .img-left  img {max-width:400px;}

.section.intern-categoria .producto-02-lamina-03 .content-procd {min-height:300px;flex-direction: column;align-items: flex-start;justify-content: space-between;width:100%;display:inline-block;background: #fff;padding:25px 20px;box-shadow: -1px 1px 11px rgb(0 0 0 / 17%);border-radius: 10px;}
.section.intern-categoria .producto-02-lamina-03 .content-procd h3 {color: #000;font-size: 15px;font-family: Matter-Regular;}
.section.intern-categoria .producto-02-lamina-03 .content-procd p {color: #000;font-size: 14px;}
.section.intern-categoria .producto-02-lamina-03 .content-procd img {max-width: 250px;margin: 0 auto;}
.section.intern-categoria .producto-02-lamina-03 .owl-carousel .item {padding:10px;}
.section.intern-categoria .producto-02-lamina-03 .owl-carousel .item .background-img-posi {width: 100%;min-height: 200px;background-size: contain !important;background-position: center !important;background-repeat: no-repeat !important;}
.section.intern-categoria .producto-02-lamina-03 .owl-stage-outer.owl-height {z-index:9;}
.section.intern-categoria .producto-02-lamina-03 .owl-nav {position: absolute;right: -20px;left: -20px;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;z-index: 2;}
.section.intern-categoria .producto-02-lamina-03 .owl-carousel .owl-nav .owl-next, .section.intern-categoria .producto-02-lamina-03 .owl-carousel .owl-nav .owl-prev {background:url('../img/icon-next-14.png');width: 20px;height: 20px;font-size: 0px;color: transparent;background-size: contain;background-repeat: no-repeat;background-position: center;}
.section.intern-categoria .producto-02-lamina-03 .owl-carousel .owl-nav .owl-prev {margin-right:auto;transform: rotate(180deg);}
.section.intern-categoria .producto-02-lamina-03 .owl-dots {display:none;}

.section.intern-categoria .producto-02-lamina-04 .cust-lam-04 img {width: 100%;max-width: 85%;}
.section.intern-categoria .producto-02-lamina-04.cust-lam-04 p {font-size: 10px;margin: 5px 0 0;}
.section.intern-categoria .producto-02-lamina-04.cust-lam-04 h3 {font-size: 22px;margin: 0 0 30px;}

.section.intern-categoria .producto-02-lamina-04 {background:none;}
.section.intern-categoria .producto-02-lamina-04 h3 {font-size: 20px;color: #a05eb5;}
.section.intern-categoria .producto-02-lamina-04 h5 {text-align: left;font-size: 15px;font-family: Matter-Bold;color: #1e1246;margin:5px 0 15px;text-transform: uppercase;}
.section.intern-categoria .producto-02-lamina-04 p {font-size: 14px;margin: 0;text-transform: inherit;color: #1e1246;}
.section.intern-categoria .producto-02-lamina-04 .img-left {display: flex;align-items: center;position: relative;justify-content: flex-end;}
.section.intern-categoria .producto-02-lamina-04 .img-left .content-left {position: absolute;left: 0;bottom: 20%;top: 0;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;max-width: 40%;}
.section.intern-categoria .producto-02-lamina-04 .img-left .content-left h4 {font-size: 12px;text-align: left;color: #a05eb5;}
.section.intern-categoria .producto-02-lamina-04 .img-left .content-left p {font-size: 10px;text-transform: capitalize;color: #1e1246;margin: 0;}
.section.intern-categoria .producto-02-lamina-04 .img-left  img {max-width: 350px;}
.section.intern-categoria .producto-02-lamina-04 .col-md-5 img {max-width:350px;}

.section.intern-categoria .producto-02-lamina-04.custom-lam-04 .content-procd .img-back-item {min-height: 140px;width: 100%;background-size: 55% !important;background-position: center !important;background-repeat: no-repeat !important;margin-bottom: auto;}
.section.intern-categoria .producto-02-lamina-04.custom-lam-04 .content-procd p {font-size: 11px;margin-bottom: auto;}
.section.intern-categoria .producto-02-lamina-04.custom-lam-04 .content-procd {min-height: 290px;display: inline-flex;}

.section.intern-categoria .producto-02-lamina-04 .content-procd {min-height: 250px;flex-direction: column;align-items: flex-start;justify-content: space-between;width:100%;display:inline-block;background: #fff;padding:25px 20px;box-shadow: -1px 1px 11px rgb(0 0 0 / 17%);border-radius: 10px;}
.section.intern-categoria .producto-02-lamina-04 .content-procd h3 {text-align:center;color:#a05eb5;font-size: 18px;font-family: Matter-Bold;margin-bottom:15px;}
.section.intern-categoria .producto-02-lamina-04 .content-procd p {color: #000;font-size: 14px;}
.section.intern-categoria .producto-02-lamina-04 .content-procd img {max-width: 250px;margin: 0 auto;}
.section.intern-categoria .producto-02-lamina-04 .owl-carousel .item {padding:10px;}
.section.intern-categoria .producto-02-lamina-04 .owl-stage-outer.owl-height {z-index:9;}
.section.intern-categoria .producto-02-lamina-04 .owl-nav {position: absolute;right: -20px;left: -20px;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;z-index: 2;}
.section.intern-categoria .producto-02-lamina-04 .owl-carousel .owl-nav .owl-next, .section.intern-categoria .producto-02-lamina-04 .owl-carousel .owl-nav .owl-prev {background:url('../img/icon-next-14.png');width: 20px;height: 20px;font-size: 0px;color: transparent;background-size: contain;background-repeat: no-repeat;background-position: center;}
.section.intern-categoria .producto-02-lamina-04 .owl-carousel .owl-nav .owl-prev {margin-right:auto;transform: rotate(180deg);}
.section.intern-categoria .producto-02-lamina-04 .owl-dots {display:none;}


.section.intern-categoria .producto-02-lamina-05 h5 {font-family: Matter-Bold;text-align: left;font-size: 17px;margin: 20px 0px 0px;}
.section.intern-categoria .producto-02-lamina-05 .col-12.col-md-5 h5 {margin: 0 0 20px;font-size: 19px;}
.section.intern-categoria .producto-02-lamina-05 ul {list-style: disc;padding: 0 15px;margin: 25px 0;}
.section.intern-categoria .producto-02-lamina-05 ul li {color:#9b5da2;}
.section.intern-categoria .producto-02-lamina-05 ul li p {font-size: 15px;}
.section.intern-categoria .producto-02-lamina-05 h6 {font-family: Matter-Bold;text-align: left;font-size: 17px;margin: 0;}


.box-cat {padding:50px 70px;width:100%;height:100%;}

.section.intern-categoria .section.intern-categoria .producto-02-lamina-03 h5 .producto-02-lamina-03 h5 {text-transform: uppercase;font-size: 15px;margin: 0 0 10px;}

.header-botonera .cat-sub {background:#001871;padding:25px 10px;display: flex;align-items:center;flex-direction: column;justify-content: center;}
.header-botonera .cat-sub p {font-family: Matter-Bold;color: #fff;display: block;font-size: 16px;margin:0;line-height: normal;}

.section.intern-categoria.info-products {background-color:rgb(219 226 233 / 1);background-image:url('../img/detalle_puntito.png');background-repeat: no-repeat;background-position: center left;}
.info-products h4 {font-family: Matter-Bold;margin: 0 0 30px;color: #001871;font-size: 28px;}

.resultado-superficies.info-products .product-image {min-height:210px;}
.resultado-superficies.info-products h5 {font-size:17px}
.resultado-superficies.section.intern-categoria.info-products p {font-size: 13px;}
.resultado-superficies.info-products .content-product {min-height: 160px;}

.w-custom-sup {flex: 1;padding: 0 5px;}

.box-info-01  {transform: translate(0, 40%);opacity: 0;transition: .6s;display:none;}
.box-info-02  {transform: translate(0, 40%);opacity: 0;transition: .6s;display:none;}
.box-info-03  {transform: translate(0, 40%);opacity: 0;transition: .6s;display:none;}
.active-translate {opacity:1 !important;transform: translate(0, 0%) !important;transition:.6s;display:inline-block;}

.niveles-custom a.activo-a {background:#26A1AF;transition:.6s;}
.niveles-custom a {padding: 15px 30px;transition:.6s;margin:0 3px;display: inline-block;color: #fff;background: #AAB6C8;font-size: 14px;font-family: Matter-Bold;}
.niveles-custom a:hover {background:#26A1AF;transition:.6s;}
.niveles-custom a:focus {opacity:1;}

.info-products .product-image {min-height:180px;background-size:80% !important;background-position:center !important;background-repeat:no-repeat !important;background-color:#fff !important;}
.info-products .content-product {background: #001871;padding: 20px;height:100%;}
.info-products h5 {color: #fff;font-family: Matter-Bold;margin: 0;font-size: 15px;}
.section.intern-categoria.info-products p {margin:10px 0 0;color: #fff;font-size: 11px;}

.section.intern-categoria.info-products p.text-custom {color: #2F9EAB;font-family: Matter-Bold;font-size: 36px;margin: 0;}
.info-products .btn-ver-mas {text-transform:uppercase;width: 100%;padding: 10px;display: inline-block;background: #00B097;color: #fff;text-align: center;font-size: 13px;font-family: Matter-SemiBold;}
.info-products .ver-todas {display: inline-block;margin-top: 25px;color: #001871;font-family: Matter-Regular;font-size: 15px;} 


.header-product {min-height: 10vh;max-height: 10vh;background:#001871;padding:25px 10px;display: flex;align-items:center;flex-direction: column;justify-content: center;}
.header-product p {font-family: Matter-Bold;color: #fff;display: block;font-size: 21px;margin: 0 0 -5px;line-height: normal;}
.header-product img {max-width:125px;}

.content-links {margin-left:auto;}
.content-links .link-volver {margin-right: 20px;font-family: Matter-Bold;display: inline-block;color: #5369E3;font-size:14px;}
.content-links .descargar {background: #5369E3;display: inline-block;padding: 10px 15px;color: #fff;font-family: Matter-Bold;font-size: 12px;}
.content-links .video-click {background: #5369E3;display: inline-block;padding: 10px 15px;color: #fff;font-family: Matter-Bold;font-size: 12px;}
.content-links .video-click-v2 {background: #5369E3;display: inline-block;padding: 10px 15px;color: #fff;font-family: Matter-Bold;font-size: 12px;}
.content-links .link-refe {margin:10px 0;background: #5369E3;display: inline-block;padding: 10px 15px;color: #fff;font-family: Matter-Bold;font-size: 12px;}

.internta-producto-ver .row {display: flex;align-items: stretch;height:100%;width:100%;margin:0px;}
.internta-producto-ver .producto-01-lamina-01 .image-product {background-repeat:no-repeat !important;background-position:center right !important;max-height:100%;background-color:#fff !important;}
.internta-producto-ver .producto-01-lamina-01 .box-middle {max-height:100%;background:#001871;padding:50px;}
.internta-producto-ver .producto-01-lamina-01 .box-middle h3 {color: #fff;font-size: 2.5vw;}
.internta-producto-ver .producto-01-lamina-01 .box-middle img {margin: 10px 0 25px;max-width: 160px;}
.internta-producto-ver .producto-01-lamina-01 .box-middle h5 {color: #fff;margin: 0;font-family: Matter-Regular;font-size: 1.8vw;max-width: 70%;}

.internta-producto-ver .producto-01-lamina-01 .box-right {max-height:100%;background: rgb(219 226 233 / 0.45);padding: 50px;}
.internta-producto-ver .producto-01-lamina-01 .box-right h3 {font-family: Matter-Regular;font-size: 38px;line-height: 1.1;}
.internta-producto-ver .producto-01-lamina-01 .box-right p {font-size: 15px;margin-bottom: auto;}
.internta-producto-ver .producto-01-lamina-01 .box-right ul {list-style: outside;padding:25px 15px 0;color: #001871;font-family: Matter-Regular;}
.internta-producto-ver .producto-01-lamina-01 .box-right ul li {font-size: 1.1vw;margin-bottom: 18px;}

#clasificacion {height:100%;}

.rec01, .rec02, .rec03, .rec04 {opacity:0;transition:.6s;}
.activerect {opacity:1;transition:.6s;}

.owl-nav {display:none;}
.owl-dots {text-align:center;border: 10px solid;border-image-slice: 1;border-width: 5px;border-image-source: linear-gradient(to right, #596ae4,#af79df,#27266b);border-bottom: none;border-right: none;border-left: none;margin-top:0px;padding-top: 10px;}
.owl-dots .owl-dot {width: 25px;height: 5px;display: inline-block;background: rgb(32 21 71 / 15%);margin:0 5px;transition:.6s;}
.owl-dots .owl-dot.active {background: #201547;}
.owl-dots .owl-dot:hover {background: #201547;transition:.6s;}

.slider-products .content-product {width:100%;text-align:left;background: #fff;border-radius: 10px;padding: 20px;box-shadow: 1px 1px 13px 1px rgb(0 0 0 / 14%);}
.slider-products .content-product .product-back {min-height: 180px;width: 100%;background-size: 90% !important;background-repeat:no-repeat !important;background-position: center !important;}
.slider-products .content-product h3 {font-family: Matter-Medium;color: #001871;margin: 5px 0px 0px;font-size: 24px;}
.slider-products .content-product p {font-size: 11px;}
.slider-products .content-product .icon-svg {max-width: 40px !important;height:40px;width:100%;}
.slider-products .btn-link-product {display: inline-block;border-radius: 10px;background: #001871;text-transform: uppercase;color: #fff;padding: 11px 25px 12px;font-family: Matter-Regular;font-size: 13px;line-height: 1;position: relative;top: -20px;}

.tab-content>.tab-pane {text-align:right;}
.content-componentes {margin-top:15px;}
.content-componentes .nav {background: none;height: auto;width: 100%;padding: 0;position:relative;z-index:0;}
.content-componentes .btn-modal {text-transform:uppercase;font-family: Matter-Regular;position:relative;z-index:1;background:#af79df;font-size: 12px;display:inline-block;color: #fff;cursor:pointer;padding: 10px 25px 10px;width: auto;border-radius: 10px;}
.content-componentes .nav-item {padding:0px;margin:5px;}
.content-componentes .nav-pills .nav-link {background:#001871;opacity:.5;color: #fff;font-size:10px;display: flex;align-items: center;justify-content: center;flex-direction: column;padding:8px 25px 9px;width: auto;border-radius: 10px;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background:#001871;opacity:1;}
.producto-01-lamina-02 .box-left {background:#001871;padding: 40px;}
.producto-01-lamina-02 .box-left h4 {color: #fff;margin: 0 0 15px;font-family: Matter-Regular;font-size: 1.8vw;max-width: 70%;}
.producto-01-lamina-02 .box-left p {color: #fff;margin: 0;font-family: Matter-Regular;line-height: 1.5;font-size: 0.9vw;font-weight: normal;}

.producto-01-lamina-02 .box-right {background-repeat: no-repeat !important;background-position: 85% 35px !important;background-color: #fff !important;background-size: 55% !important;padding: 30px;}
.producto-01-lamina-02 .box-right h5 {margin: auto 0 0;max-width: 35%;font-size: 1vw;font-family: Matter-Regular;color: #001871;line-height: normal;}
.producto-01-lamina-02 .box-right img {max-width: 32vw !important;}
.producto-01-lamina-02 .detalle-linea h4 {font-family: Matter-Regular;margin: 25px 0 5px;font-size: 0.8vw;}

.producto-01-lamina-03 {padding:15px;background:#fff;}
.producto-01-lamina-03 .box-left {background: #DBE2E9;padding: 25px 40px;height:100%;}
.producto-01-lamina-03 .box-left h3 {font-size: 1.3vw;color: #001871;}
.producto-01-lamina-03 .box-left h5 {margin:0 0 10px;font-size: 1.1vw;font-family: Matter-Regular;color: #001871;}
.producto-01-lamina-03 .linea-carect {border-bottom: 2px #fff solid;margin: 0;padding: 10px 0;}
.producto-01-lamina-03 .linea-carect p {margin: 0;font-family: Matter-Regular;color: #001871;font-size:75%;}
.producto-01-lamina-03 .linea-carect .col-12 {padding:0;}
.producto-01-lamina-03 .linea-carect:last-child {border:none;}
.producto-01-lamina-03 .box-right {padding: 10px 30px;height: 100%;}
.producto-01-lamina-03 .box-right img {max-width: 25vw !important;margin: 0 auto;}
.producto-01-lamina-03 .box-right p {font-size: 0.74vw;margin: auto 0 0;}


.internta-producto-ver .producto-02-lamina-01 .image-product {background-repeat:no-repeat !important;background-position:center right !important;max-height:100%;background-color:#fff !important;}
.internta-producto-ver .producto-02-lamina-01 .box-middle {max-height:100%;background:#001871;padding:50px;}
.internta-producto-ver .producto-02-lamina-01 .box-middle h3 {color: #fff;font-size: 40px;}
.internta-producto-ver .producto-02-lamina-01 .box-middle img {margin: 10px 0 25px;max-width: 160px;}
.internta-producto-ver .producto-02-lamina-01 .box-middle h5 {color: #fff;margin: 0;font-family: Matter-Regular;font-size: 23px;max-width: 70%;}

.internta-producto-ver .producto-02-lamina-01 .box-right {max-height:100%;background: rgb(219 226 233 / 0.45);padding: 50px;}
.internta-producto-ver .producto-02-lamina-01 .box-right h3 {font-family: Matter-Regular;font-size: 38px;line-height: 1.1;}
.internta-producto-ver .producto-02-lamina-01 .box-right p {font-size: 15px;margin-bottom: auto;}
.internta-producto-ver .producto-02-lamina-01 .box-right ul {list-style: outside;padding:25px 15px 0;color: #001871;font-family: Matter-Regular;}
.internta-producto-ver .producto-02-lamina-01 .box-right ul li {font-size: 12px;margin-bottom: 10px;font-weight:700;}

.producto-02-lamina-02 .box-left {background:#001871;padding: 40px;}
.producto-02-lamina-02 .box-left h4 {color: #fff;margin: 0 0 15px;font-family: Matter-Regular;font-size: 30px;max-width: 70%;}
.producto-02-lamina-02 .box-left p {color: #fff;margin: 0;font-family: Matter-Regular;line-height: 1.5;font-size: 14px;font-weight: normal;}

.producto-02-lamina-02 .box-right {background-repeat: no-repeat !important;background-position: center !important;background-color: #fff !important;background-size: 65% !important;padding: 30px;}
.producto-02-lamina-02 .box-right h5 {margin: auto 0 0;max-width: 35%;font-size: 17px;font-family: Matter-Regular;color: #001871;line-height: normal;}

.producto-02-lamina-02 .detalle-linea h4 {font-family: Matter-Regular;margin: 25px 0 5px;font-size: 14px;}

.producto-02-lamina-03 {padding:15px;background:#fff;}
.producto-02-lamina-03 .box-left {background: #DBE2E9;padding: 25px 40px;height:100%;}
.producto-02-lamina-03 .box-left h3 {font-size: 25px;color: #001871;}
.producto-02-lamina-03 .box-left h5 {margin:0 0 10px;font-size: 18px;font-family: Matter-Regular;color: #001871;}
.producto-02-lamina-03 .linea-carect {border-bottom: 2px #fff solid;margin: 0;padding: 10px 0;}
.producto-02-lamina-03 .linea-carect p {margin: 0;font-family: Matter-Regular;color: #001871;font-size: 13px;}
.producto-02-lamina-03 .linea-carect .col-12 {padding:0;}
.producto-02-lamina-03 .linea-carect:last-child {border:none;}
.producto-02-lamina-03 .box-right {padding: 10px 30px;height: 100%;}
.producto-02-lamina-03 .box-right img {max-width: 45% !important;margin: 0 auto;}
.producto-02-lamina-03 .box-right p {font-size: 11px;margin: 30px 0 0;}


.producto-02-lamina-04 {padding:15px;background:#fff;}
.producto-02-lamina-04 .box-left {background: #DBE2E9;padding: 25px 40px;height:100%;}
.producto-02-lamina-04 .box-left h3 {font-size: 25px;color: #001871;}
.producto-02-lamina-04 .box-left h5 {margin:0 0 10px;font-size: 18px;font-family: Matter-Regular;color: #001871;}
.producto-02-lamina-04 .linea-carect {border-bottom: 2px #fff solid;margin: 0;padding: 10px 0;}
.producto-02-lamina-04 .linea-carect p {margin: 0;font-family: Matter-Regular;color: #001871;font-size: 13px;}
.producto-02-lamina-04 .linea-carect .col-12 {padding:0;}
.producto-02-lamina-04 .linea-carect:last-child {border:none;}
.producto-02-lamina-04 .box-right {padding: 10px 30px;height: 100%;}
.producto-02-lamina-04 .box-right img {max-width: 45% !important;margin: 0 auto;}
.producto-02-lamina-04 .box-right p {font-size: 11px;margin: 30px 0 0;}


.internta-producto-ver .producto-03-lamina-01 .image-product {background-repeat:no-repeat !important;background-position:center right !important;max-height:100%;background-color:#fff !important;}
.internta-producto-ver .producto-03-lamina-01 .box-middle {max-height:100%;background:#001871;padding:50px;}
.internta-producto-ver .producto-03-lamina-01 .box-middle h3 {color: #fff;font-size: 40px;}
.internta-producto-ver .producto-03-lamina-01 .box-middle img {margin: 10px 0 25px;max-width: 160px;}
.internta-producto-ver .producto-03-lamina-01 .box-middle h5 {color: #fff;margin: 0;font-family: Matter-Regular;font-size: 30px;max-width: 70%;}

.internta-producto-ver .producto-03-lamina-01 .box-right {max-height:100%;background: rgb(219 226 233 / 0.45);padding: 50px;}
.internta-producto-ver .producto-03-lamina-01 .box-right h3 {font-family: Matter-Regular;font-size: 32px;line-height: 1.1;}
.internta-producto-ver .producto-03-lamina-01 .box-right p {font-size: 15px;margin-bottom: auto;}
.internta-producto-ver .producto-03-lamina-01 .box-right ul {list-style: outside;padding:25px 15px 0;color: #001871;font-family: Matter-Regular;}
.internta-producto-ver .producto-03-lamina-01 .box-right ul li {font-size: 1.1vw;margin-bottom: 18px;}

.producto-03-lamina-02 {background:#fff;}
.producto-03-lamina-02 .content-top {background:#fff;padding:20px 35px 0;}
.producto-03-lamina-02 .content-top h4 {font-family: Matter-Regular;color:#001871;margin:0;font-size:38px;}
.producto-03-lamina-02 .content-top p {column-count: 2;font-family: Matter-Regular;color:#001871;margin: 15px 0 0;}
.producto-03-lamina-02 .content-top img {max-width:80% !important;margin:0 auto;}
.producto-03-lamina-02 .content-bottom {background: #001871;padding: 0;/*margin-top: auto;*/}
.producto-03-lamina-02 .content-bottom h3 {color: #DBE2E9;font-size: 36px;font-family: Matter-Regular;}
.producto-03-lamina-02 .content-bottom ul {margin:0;list-style:outside;}
.producto-03-lamina-02 .content-bottom ul li {color:#5369E3;}
.producto-03-lamina-02 .content-bottom p {margin:0;font-size:17px;}
.producto-03-lamina-02 .content-bottom p strong{color:#5369E3;margin:0;}
.producto-03-lamina-02 .content-bottom ul li p {font-size:11px;color:#fff;margin:0;}
.producto-03-lamina-02 .content-bottom h5 {color: #5369E3;font-family: Matter-Bold;font-size: 17px;margin: 0;}
.producto-03-lamina-02 .content-bottom .content-bottom-box-01 {padding: 20px 50px;}
.producto-03-lamina-02 .content-bottom .content-bottom-box-02 {padding: 20px 15px}
.producto-03-lamina-02 .content-bottom .content-bottom-box-03 {background: #DBE2E9;padding: 20px 30px;}
.producto-03-lamina-02 .content-bottom .content-bottom-box-03 p {font-size: 13px;margin-top:10px;}

.producto-03-lamina-03 {padding:15px;background:#fff;}
.producto-03-lamina-03 .box-left {background: #DBE2E9;padding: 25px 40px;height:100%;}
.producto-03-lamina-03 .box-left h3 {font-size: 25px;color: #001871;}
.producto-03-lamina-03 .box-left h5 {margin:0 0 10px;font-size: 18px;font-family: Matter-Regular;color: #001871;}
.producto-03-lamina-03 .linea-carect {border-bottom: 2px #fff solid;margin: 0;padding: 10px 0;}
.producto-03-lamina-03 .linea-carect p {margin: 0;font-family: Matter-Regular;color: #001871;font-size: 15px;}
.producto-03-lamina-03 .linea-carect p strong {font-family: Matter-Bold;font-size: 19px;color: #001871;}
.producto-03-lamina-03 .linea-carect .col-12 {padding:0;}
.producto-03-lamina-03 .linea-carect:last-child {border:none;}
.producto-03-lamina-03 .box-right {padding: 10px 30px;height: 100%;}
.producto-03-lamina-03 .box-right img {max-width:50% !important;margin: 0 auto;}
.producto-03-lamina-03 .box-right p {font-size: 11px;margin: auto 0 0;}

.producto-03-lamina-04 .box-left {background:#001871;padding: 40px;}
.producto-03-lamina-04 .box-left h4 {color: #fff;margin: 0 0 15px;font-family: Matter-Regular;font-size: 33px;max-width: 70%;}
.producto-03-lamina-04 .box-left p {color: #fff;margin: 0;font-family: Matter-Regular;line-height: 1.5;font-size: 14px;font-weight: normal;}

.producto-03-lamina-04 .box-right {position:relative;background-repeat: no-repeat !important;background-position: 85% 35px !important;background-color: #fff !important;background-size: 55% !important;padding: 30px 30px 0;}
.producto-03-lamina-04 .box-right h5 {margin: auto 0 0;max-width: 35%;font-size: 17px;font-family: Matter-Regular;color: #001871;line-height: normal;}

.producto-03-lamina-04 .detalle-linea h4 {font-family: Matter-Regular;margin: 25px 0 5px;font-size: 14px;}
.producto-03-lamina-04 .content-left-bottom-box {position: absolute;left: 30px;bottom: 30px;max-width: 30%;transition:.6s;}
.producto-03-lamina-04 .content-left-bottom-box:hover {cursor:pointer;;opacity:.6;transition:.6s;}
.producto-03-lamina-04 .content-left-bottom-box.active-img {z-index:3;}
.producto-03-lamina-04 .content-left-bottom-box.active-img p {color:#fff;}
.producto-03-lamina-04 .content-left-bottom-box img {max-width: 130px !important;margin-right: 10px;}
.producto-03-lamina-04 .content-left-bottom-box p {margin:0;font-size: 20px;}

.producto-03-lamina-04 .modal-content-left-bottom {position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 8 57 / 78%);padding: 30px 45px;}
.producto-03-lamina-04 .modal-content-left-bottom p {max-width: 19%;margin-left: auto;color: #fff;font-size: 15px;margin-top: 0;margin-bottom: 0;}
.producto-03-lamina-04 .modal-content-left-bottom .cerrer-modal {position: absolute;top: 10px;right: 10px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.producto-03-lamina-04 .modal-content-left-bottom .cerrer-modal:hover {cursor:pointer;}

.producto-03-lamina-04 .modal-content-right-bottom {display:flex;position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 8 57 / 78%);padding: 30px 45px;}
.producto-03-lamina-04 .modal-content-right-bottom p {max-width: 30%;margin-left: auto;color: #fff;font-size: 15px;margin-top: auto;margin-bottom: 10px;margin-right: 255px;}
.producto-03-lamina-04 .modal-content-right-bottom .cerrer-modal {position: absolute;top: 10px;right: 10px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.producto-03-lamina-04 .modal-content-right-bottom .cerrer-modal:hover {cursor:pointer;}

.producto-03-lamina-04 .modal-content-right-top {display:flex;position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 8 57 / 78%);padding: 30px 30px;}
.producto-03-lamina-04 .modal-content-right-top p {max-width: 9%;margin-left: auto;color: #fff;font-size: 13px;margin-top: 10%;margin-bottom: auto;margin-right: 0;text-align: left;}
.producto-03-lamina-04 .modal-content-right-top .cerrer-modal {position: absolute;top: 10px;right: 10px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.producto-03-lamina-04 .modal-content-right-top .cerrer-modal:hover {cursor:pointer;}


.producto-03-lamina-04 .img-madre {max-width:65% !important;margin-right:15%}


.producto-03-lamina-04 .content-right-bottom-box {position: absolute;bottom: 30px;right: 10px;}
.producto-03-lamina-04 .content-right-bottom-box:hover {cursor:pointer;;opacity:.6;transition:.6s;}
.producto-03-lamina-04 .content-right-bottom-box.active-img {z-index:3;}
.producto-03-lamina-04 .content-right-bottom-box.active-img p {color:#fff;}
.producto-03-lamina-04 .content-right-bottom-box p {margin: 0 auto 10px;display: block;max-width: 40%;font-size: 20px;}
.producto-03-lamina-04 .content-right-bottom-box img {max-width: 265px !important;}

.producto-03-lamina-04 .content-right-top-box {position: absolute;right: 30px;top: 30px;max-width: 30%;transition:.6s;}
.producto-03-lamina-04 .content-right-top-box:hover {cursor:pointer;;opacity:.6;transition:.6s;}
.producto-03-lamina-04 .content-right-top-box.active-img {z-index:3;}
.producto-03-lamina-04 .content-right-top-box.active-img p {color:#fff;}
.producto-03-lamina-04 .content-right-top-box img {max-width: 130px !important;margin-left: 10px;}
.producto-03-lamina-04 .content-right-top-box p {margin:0;font-size: 20px;text-align:right;}

.click-1:hover, .click-2:hover, .click-3:hover, .click-4:hover {cursor:pointer;}

.producto-03-lamina-05 .box-right {background:#fff;}
.producto-03-lamina-05 .box-right img {max-width: 35vw !important;margin: auto;}
.producto-03-lamina-05 .box-left {background: #DBE2E9;}
.producto-03-lamina-05 .box-left p {font-size: 1.4vw;margin: 30px 15px;}

.modal-product-formulario {position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 2;background: rgb(219 226 233 / 67%);display: flex;align-items: center;justify-content: center;}
.modal-product-formulario .content-modal-form {position:relative;max-width: 475px;background: #001871;padding: 25px;}
.modal-product-formulario .content-modal-form h4 {color: #fff;margin: 0 0 25px;font-family: Matter-Regular;}
.modal-product-formulario .content-modal-form form input {width: 100%;color: #001871;font-size: 14px;padding: 15px 20px;font-family: Matter-Regular;border: none;margin: 5px 0 0;}
.modal-product-formulario .content-modal-form form input[type="submit"] {background: #5369E3;color: #fff;}
.modal-product-formulario .content-modal-form .cerrer-modal {position: absolute;top: -10px;right: -5px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.modal-product-formulario .content-modal-form .cerrer-modal:hover {cursor:pointer;}

.video-product-formulario {position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 2;background: rgb(219 226 233 / 67%);display: flex;align-items: center;justify-content: center;}
.video-product-formulario .content-modal-form {position: relative;max-width: 600px;background: #001871;padding: 25px;width: 100%;}
.video-product-formulario .content-modal-form h4 {color: #fff;margin: 0 0 25px;font-family: Matter-Regular;}
.video-product-formulario .content-modal-form .cerrer-video {position: absolute;top: -10px;right: -5px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.video-product-formulario .content-modal-form .cerrer-video:hover {cursor:pointer;}
.video-product-formulario .content-modal-form video {width:100%;height:310px;}


.video-product-formulario-v2 {position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 2;background: rgb(219 226 233 / 67%);display: flex;align-items: center;justify-content: center;}
.video-product-formulario-v2 .content-modal-form {position: relative;max-width: 600px;background: #001871;padding: 25px;width: 100%;}
.video-product-formulario-v2 .content-modal-form h4 {color: #fff;margin: 0 0 25px;font-family: Matter-Regular;}
.video-product-formulario-v2 .content-modal-form .cerrer-video-v2 {position: absolute;top: -10px;right: -5px;background: #5369E3;color: #fff;width: 26px;height: 26px;border-radius: 100%;text-align: center;font-family: Arial;font-size: 14px;display: flex;align-items: center;justify-content: center;line-height: 0.2;font-weight: 900;}
.video-product-formulario-v2 .content-modal-form .cerrer-video-v2:hover {cursor:pointer;}
.video-product-formulario-v2 .content-modal-form video {width:100%;height:310px;}


.tabla-escalas .header-tabla {background: #001871;padding: 9px 0;}
.tabla-escalas .header-tabla p {margin: 0;color: #fff;font-family: Matter-Bold;font-size: 18px;line-height: 1;}
.tabla-escalas h4 {min-height: 60px;display: flex;align-items: center;justify-content: center;margin: 0;background: #fff;text-align: center;padding: 12px 0;font-size: 14px;font-family: Matter-Bold;color: #001871;}
.tabla-escalas .items p, .tabla-escalas .items label {border-bottom:4px #fff solid;transition:.6s;cursor:pointer;line-height:1;width:100%;margin: 0;background:#16BAC9 !important;padding: 25px 20px;color: #fff;font-size: 75%;font-family: 'Matter-Bold';min-height: 75px;}
.tabla-escalas .items p:hover, .tabla-escalas .items label:hover {background: #001871 !important;transition:.6s;}

.btns-tablas {background: #33BECC;width: 100%;display: inline-block;padding: 15px 15px;text-align: center;color: #fff;font-family: Matter-Bold;font-size: 22px;}
.btns-tablas:hover {color:#fff;}

.modal-areas {background:rgb(0 0 0 / 0.7);}
.modal-areas .modal-dialog {max-width:600px;}
.modal-areas .close-modal {padding: 0 10px;position: absolute;right: 0;top: 0;}
.modal-areas .close-modal span {font-size: 30px;}
.modal-areas .close-modal span:hover, .modal-areas .close-modal span:focus {outline:none;text-decoration:none;}
.modal-content {border-radius:0px;}
.modal-areas .modal-body {padding:0;}
.modal-areas .barra-color {background: #5369E1;padding: 20px 25px;}
.modal-areas .barra-color p {margin: 0;font-family: Matter-Bold;color: #fff;font-size: 22px;}
.modal-areas .barra-color p small {font-size: 64%;}
.modal-areas .header-modal-areas {padding:20px 25px 35px;}
.modal-areas .header-modal-areas img {max-width:100px;}
.modal-areas .header-modal-areas h3 {font-family: 'Matter-Bold';margin: 0;color: #001871;font-size: 24px;}

input[type="radio"]:checked + label {
	background: #001871 !important;
	transition:.6s;
}


::-webkit-input-placeholder { /* Edge */
  color:#001871;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#001871;
}

::placeholder {
  color:#001871;
}

.section.intern-categoria.info-products .degrade-linea-superficies {border-radius:15px;background: linear-gradient(90deg, rgba(0,174,239,1) 0%, rgba(0,166,81,1) 12%, rgba(248,223,0,1) 28%, rgba(247,148,29,1) 50%, rgba(237,28,36,1) 100%);padding: 0;margin-top: 15px;margin-bottom: 10px;}
.section.intern-categoria.info-products .degrade-linea-superficies p {margin: 5px 0;font-size: 13px;font-family: Matter-Bold;}
.section.intern-categoria.info-products h4 {margin:0;font-size:20px;}
#gridproducts .owl-dots {margin-top: -5px;}
.tab-content .owl-dots {position:absolute;bottom: 10%;left:0;right:0px;}
.arrows-header {padding:0 20px;}
.btn-absolutes {position:absolute;right:0;bottom:0;}
.arrows-header a {display:inline-block;color: #000;margin:0 15px;}


.modal-asistencia .modal-dialog {max-width: 700px;display: flex;align-items: center;}
.modal-asistencia .modal-content {background: transparent;box-shadow: none;border: none;overflow: hidden;padding: 25px;}
.modal-asistencia .modal-header {background: transparent;border: none;box-shadow: none;padding: 0;position: absolute;top:5px;right: 5px;left: 0;z-index: 444;}
.modal-asistencia .modal-header a {display: inline-block;margin-left: auto;color: #000;font-family: Matter-Bold;font-size: 16px;padding: 3px 10px;position: relative;background: #fff;opacity: 1;border-radius: 100%;}
.modal-asistencia .modal-body {background: #5369E0;overflow: hidden;padding: 60px 50px;}
.modal-asistencia .modal-body p {margin: 0;color: #fff;font-family: Matter-Regular;overflow: hidden;font-size: 18px;}

.header-asistencia-pasos {height: 55vh;background: rgb(216 223 230 / 58%);}
.header-asistencia-pasos h3 {font-family: Matter-Bold;margin: 0;color: #001871;font-size: 31px;}
.header-asistencia-pasos p {color: #5369E0;margin: 0 0 20px;font-family: Matter-Regular;font-size: 29px;}
.header-asistencia-pasos img {max-width: 180px;}

.botonera-gral {height:24vh;}
.botonera-gral .botones-asis {cursor:pointer;transition:.6s;flex: 1;background: #26A1AF;padding: 0;color: #fff;font-family: Matter-Bold;font-size: 30px;    display: flex;align-items:center;justify-content: center;}
.texto-piel {margin-left:auto;margin-right:-30%;transition:.6s;}
.botonera-gral .botones-asis hr {transition:.6s;width: 40px;border-width: 4px;margin: 5px 0 0;background: #fff;opacity: 0;}
.botonera-gral .botones-asis:hover hr {transition:.6s;opacity:1;}

.box-links-piel-translate {transform: translate(0%, 0) !important;transition:.6s;}
.texto-piel-translate {margin-right:0 !important;transition: .6s;}
.box-links-piel {margin-left: auto;height: 100%;transform: translate(100%, 0);transition:.6s;}
.box-links-piel a {flex: 1;display: flex;align-items: center;background: rgb(255 255 255 / 8%);padding: 15px 30px;color: #fff;font-size: 20px;justify-content: center;}

.botonera-gral .botones-asis-v2 {cursor:pointer;transition:.6s;flex: 1;background: transparent;padding: 20px 40px 20px;color: #001871;font-family: Matter-Bold;font-size: 30px;    display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.botonera-gral .botones-asis-v2:hover {transition:.6s;opacity:1;background: #001871;color:#fff;}


.botonera-gral .botones-asis-v2-02 {cursor:pointer;transition:.6s;flex: 1;background: transparent;padding: 20px 40px 20px;color: #5369E0;font-family: Matter-Bold;font-size: 30px;    display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.botonera-gral .botones-asis-v2-02:hover {transition:.6s;opacity:1;background: #5369E0;color:#fff;}

.enlaces-btn {display: inline-block;float: right;background: #5369E0;padding:0;opacity:0;transition:.6s;}
.enlaces-btn img {display:block;}
.enlaces-btn a {flex:1;text-align:center;color:#fff;font-family: Matter-Bold;font-size: 22px;margin: 30px 0;transition:.6s;}
.enlaces-btn a:hover {transition:.6s;color:#01AD94;}

.opacity-1 {opacity:1 !important;transition:.6s;}

.header-piel {background:#001871;padding:5px 70px;}
.header-piel h4 {margin: 0 0 3px;color: #fff;font-family: Matter-Bold;font-size: 32px;}
.header-piel h4 small {color: #269EAC;font-size: 65%;font-family: Matter-SemiBold;}

.header-sup-as {background:#001871;padding:15px 60px;}
.header-sup-as h4 {margin: 0 ;color: #fff;font-family: Matter-Bold;font-size: 30px;}
.header-sup-as p {color:#fff;font-family: Matter-Regular;margin: 13px 0;font-size: 17px;}
.header-sup-as p strong {color:#fff;font-family: Matter-Bold;margin:0;text-transform: uppercase;font-size: 18px;}
.header-sup-as img {max-width:153px;}

.botonera-gral .botones-asis-02 {cursor: pointer;transition: .6s;flex: 1;background: #269EAC;padding: 30px 40px;color: #fff;display: flex;align-items: center;flex-direction: column;justify-content: center;}
.botonera-gral .botones-asis-02 h2 {font-family: Matter-Bold;font-size: 25px;margin: 0;}
.botonera-gral .botones-asis-02 p {color: #fff;font-size: 15px;margin: 0;font-family: Matter-Regular;text-align:center;}
.botonera-gral .botones-asis-02 p strong {color: #fff;font-size: 17px;margin: 0;font-family: Matter-Regular;}
.btn-hover:hover img {opacity:1;transition:.6s;}
.btn-hover:hover .botones-asis-02 {padding:30px 40px 40px;transition:.6s;opacity:1;}
.btn-hover img {opacity:0;transition:.6s;width:100%;}

.escalas-btn {background: #5369E0;border:2px transparent solid;display: inline-block;margin-top: 20px;color: #fff;padding: 8px 30px;font-family: Matter-Bold;font-size: 14px;}
.escalas-btn:hover {opacity:1;background:transparent;border:2px #5369E0 solid;color:#5369E0;}

.custmo-wd-grilla-productos {height:100%;width: 12.45%;min-height: 1px;float: left;-webkit-backface-visibility: hidden;-webkit-touch-callout: none;}

#superficiesresponsive .owl-nav {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;z-index:0;}
#superficiesresponsive .owl-stage-outer {position:relative;z-index:3;}
#superficiesresponsive .owl-dots {display:none;}
#superficiesresponsive .owl-nav .owl-prev {position: absolute;height: 100px;color: inherit;background: none;border: none;z-index: 100;left: -20px;}
#superficiesresponsive .owl-nav .owl-next {position: absolute;height: 100px;color: inherit;background: none;border: none;z-index: 100;right: -20px;}
#superficiesresponsive .owl-nav i {font-size: 25px;}

@media screen and (max-width: 1500px) {
  .section.intern-categoria.info-products .degrade-linea-superficies p {font-size:11px;}
  
   .custmo-wd-grilla-productos {width: 12.45%;}
}

@media screen and (max-height:600px) {
  .html-hidde-overflow {overflow:auto !important; }
}

@media screen and (max-width: 1024px) {
  .header-asistencia-pasos {min-height:55vh !important}
  .texto-piel {margin-right: -20vw;}
  .info-section-01 h3 {font-size: 280%;}
  .info-section-01 p {font-size:14px;}
  .info-section-01 {padding:40px;}
  .enlces-internos .enlace p {font-size: 1.5em;}
  .back-ground-section-01 {background-position: top left !important}
  .html-hidde-overflow {overflow:auto !important; }
  .w-custom-sup {width:33%;margin-top:25px;}
  .custmo-wd-grilla-productos {width: 119.5px;}
  .resultado-superficies.info-products h5 {font-size: 21px;}
  .resultado-superficies.section.intern-categoria.info-products p {font-size:16px;}
}
@media screen and (max-width:996px) {
  .custom-height-todas {padding:9vh 30px !important;}
  .info-products .product-image {min-height: 260px;}
  .carousel-inner {min-width: 300px;max-width: 300px;}
  .info-products h5 {font-size:20px;}
  .section.intern-categoria.info-products p {font-size:16px;}
  .botonera-gral .botones-asis {font-size: 27px;}
  .box-links-piel a {padding:15px;font-size:17px}
  .info-products .content-product {min-height: 210px !important;}
  .custmo-wd-grilla-productos {width:auto;height:auto;}
  .html-hidde-overflow {overflow:auto !important; }
  .box-cat {padding: 40px;}
  .section.intern-categoria h3 {font-size:34px;}
  .niveles-custom a {padding:15px;font-size:12px}
  .box-info-01 p {max-width: 90% !important;}

}
@media screen and (min-width:767px) {
    #slideproduct .owl-stage-outer, #slideproduct .owl-stage, #slideproduct.owl-drag .owl-item {height:100% !important;}
}
@media screen and (max-width:767px) {
    .section.intern-categoria .table-tecnicas .flex-tb-hed {flex:  0 0 20%}
    .section.intern-categoria .table-tecnicas p {font-size:10px;padding: 7px 2px;}
    .btn-home {bottom:47%;}
    .btn-home a {font-size:14px;}
    .btn-contact {bottom:40%;}
    .btn-contact a {font-size:14px;}
    .disclamer {font-size:7px;}
    .modal-posicionamiento .content-posicion {max-width:90%;}
    .image-posicion {min-height:300px;}
    .error {position:relative;bottom:0px;}
  .home-section {padding:80px 40px 80px;max-height:inherit;height:auto;min-height:100vh;}
  .col-6.logo.d-inline-flex.align-items-center.justify-content-center span {font-size:11px !important;}
  .producto-section {padding:80px 10px 80px;height:auto;max-height:inherit;}
  #slideproduct.owl-loaded {height:auto;}
  .home-section h4, .producto-section h4, .componente-section h4 {font-size:27px;}
  .home-section p {display:none;}
  .btns-home {margin-top:100%;}
  .section.intern-categoria .producto-02-lamina-04 .content-procd img {max-width:100%;}
  .btn-absolutes {position:relative;text-align:center;margin-top:15px;}
  .tab-content>.tab-pane {height:auto !important;width:100%;max-width:100%;}
  .slider-products .owl-stage {display:block;}
  .componente-section .box-content-comp {padding:10px;}
  .componente-section .content-componente h3 {font-size:17px;}
  .componente-section .content-componente p {font-size:14px;}
  .componente-section .content-componente {margin-bottom:15px;}
  .tab-content.h-100 {height:auto !important;margin-bottom:40px;}
  #frmCart {margin-top:15px;}
  .section.intern-categoria .producto-02-lamina-03 {padding:0px;}
  .custom-select {margin:5px 0;}
  .btns-home form {flex-direction:column;}
  .content-componentes .nav-pills .nav-link {font-size:13px;}
  .content-componentes .nav-item {width:100%;margin: 5px 0;}
  .footer {position:relative;}
  .componente-section {padding:80px 20px 80px;height:auto;max-height:inherit;}
  .tab-content .owl-dots {position:relative;}
  .content-componentes {height:auto !important;}
  .section.intern-categoria .resultado-link a {padding: 10px 15px;margin-bottom: 15px;}
  .custom-height-todas {padding:0 30px !important;}
  .header-asistencia-pasos img {margin-bottom:35px;}
  .componente-section .content-componente .img-comp {min-height: 120px;}
  .intern-categoria.internta-producto-ver {padding:15px;}
  .custmo-wd-grilla-productos {width:100%;height:auto;margin-bottom: 25px;}
  .box-cat {padding: 25px;}
  .arrows-header a {margin: 0;font-size: 80%;}
	.header-botonera .active-boton, .header-botonera .no-active-boton {padding:15px 30px;}
	.section.intern-categoria.info-products h4 {margin:30px 0 !important;}
	.info-products .ver-todas {margin-top:0;margin-bottom:35px;}
	#gridproducts {padding:30px !important;text-align:center;}
	.info-products .product-image {min-height:250px;}
	.header-botonera, .section.intern-categoria {min-height: inherit !important;max-height: inherit !important;height:auto;padding:15px 0px;}
    .section.intern-categoria .owl-stage .col-12 {padding:0px;}
    .section.intern-categoria .owl-carousel .owl-item img {width:100%;}
    .producto-02-lamina-03 #slideposiciones, .producto-02-lamina-04 #slideesp {max-width:85%;margin:0 auto;}
	.section.intern-categoria .content-cat-flex {flex:auto;min-height:inherit;}
	.section.intern-categoria .content-cat-flex.back-cat {min-height:320px;}
    .content-componentes .btn-modal {margin-top: 15px;}
	.enlces-internos {height:auto;}
	.html-hidde-overflow {overflow:auto !important; }
	.back-ground-section-01 {min-height:150px;height:auto;}
	.info-section-01 p {max-width:100%;}
  .enlces-internos .enlace {padding:30px;}
  .enlces-internos .enlace p {font-size: 1.7em;}
	.back-img-principal .detalle_linea {max-width: 190px;}
	.back-img-principal h4 {font-size:215%;}
    .botton-home {flex: 1}
	.back-img-principal p {max-width:100%;}
	.enlces-internos .enlace, .info-section-01 {height:auto;}
	.info-section-01 {padding: 30px 25px;}
  .info-section-01 h3 {font-size: 285%;}
  .modal-asistencia .modal-body {overflow: initial;padding: 30px 30px;}
  .niveles-custom a {font-size:13px;padding: 15px 10px;margin:5px 0;}
  .section.intern-categoria p {max-width:100% !important;}
  .section.intern-categoria h3 {font-size:30px}
  .section.intern-categoria .producto-02-lamina-04 .col-md-5 img {max-width:100%;}
	.producto-03-lamina-01, .producto-03-lamina-04 {height: auto !important;}
  video {width:100% !important;}
  .owl-dots .owl-dot {width:35px;}
  .content-cart .detalle-cart {max-width:70%;}
  .modal-card, .modal-content {margin:0;}
  .section.intern-categoria .producto-02-lamina-02 .col-md-6 {height:auto;}
  .section.intern-categoria .producto-02-lamina-02 .icon-item {max-width:100%;margin: 15px 0;}
  .section.intern-categoria .producto-02-lamina-02 .content-img-product {position:relative;}
	.internta-producto-ver .producto-03-lamina-01 .image-product {background-position:center !important;min-height: 230px;background-size: 100% !important;}
	.internta-producto-ver .producto-03-lamina-01 .box-middle {padding:30px;}
	.internta-producto-ver .producto-03-lamina-01 .box-middle h3, .internta-producto-ver .producto-01-lamina-01 .box-middle h3 {font-size:30px;}
	.internta-producto-ver .producto-03-lamina-01 .box-middle h5, .internta-producto-ver .producto-01-lamina-01 .box-middle h5 {max-width:100%;font-size:22px;}
	.internta-producto-ver .producto-03-lamina-01 .box-right {padding:30px;}
	.internta-producto-ver .producto-03-lamina-01 .box-right h3 {font-size: 27px;}
	.header-product {min-height: inherit;max-height: inherit;}
	.producto-03-lamina-04 .box-left {padding:30px;}
	.producto-03-lamina-04 .box-left h4 {max-width:100%;font-size:31px;}
	.producto-03-lamina-04 .img-madre {max-width: 100% !important; margin-right: 0;}

	.producto-03-lamina-04 .content-left-bottom-box {position: relative;left: 0;bottom: 0;max-width: 100%;margin-top: 20px;}
	.producto-03-lamina-04 .content-right-bottom-box {position: relative;bottom: 0;right: 0;margin: 35px 0;}
	.producto-03-lamina-04 .content-right-bottom-box p {max-width:100%;}
	.producto-03-lamina-04 .content-right-top-box {position: relative;right: 0;top: 0;max-width: 100%;margin-bottom: 35px;}
	.producto-03-lamina-04 .modal-content-left-bottom p {max-width:100%;}
	.producto-03-lamina-04 .modal-content-right-bottom p {max-width:100%;margin-right: 0;}
	.producto-03-lamina-04 .modal-content-right-top p {max-width:100%;margin-top:auto;margin-bottom:50%;}

	.producto-03-lamina-05 .box-right img {max-width:100% !important;}
	.producto-03-lamina-05 .box-left p {font-size:25px;}

	.producto-03-lamina-02 .content-top h4 {font-size: 29px;}
	.producto-03-lamina-02 .content-top img {max-width:100% !important;margin:20px auto;}
	.producto-03-lamina-02 .content-top p {column-count:1;}
	.producto-03-lamina-02 .content-bottom .content-bottom-box-01 {padding: 20px 20px 0;}
	.producto-03-lamina-02 .content-bottom .content-bottom-box-02 {padding: 20px 20px;}
	.producto-03-lamina-02 .content-bottom p {display:inline;}
	.producto-03-lamina-02 .content-bottom ul {list-style: inside}
	.producto-03-lamina-03 .box-right img {max-width:100% !important;}
	.internta-producto-ver .row, .producto-03-lamina-03 .box-right, .producto-03-lamina-03 .box-left {height:auto !important;}
	.content-links {text-align:right;}
	.content-links .link-volver {margin-right:0;margin-bottom:5px;}
	.info-products .product-image {background-size: 180px !important;}
	.internta-producto-ver .producto-02-lamina-01 .box-middle h5, {max-width:100%;}
	.internta-producto-ver .producto-02-lamina-01 .image-product, .internta-producto-ver .producto-01-lamina-01 .image-product {min-height: 350px;background-size: 280px !important;background-position: center !important;}
	.internta-producto-ver .producto-02-lamina-01 .box-middle {padding:30px;min-height:inherit;}
	.internta-producto-ver .producto-02-lamina-01 .box-right, .internta-producto-ver .producto-01-lamina-01 .box-right {padding:30px;min-height:inherit;}
	.producto-02-lamina-02 .box-left, .producto-01-lamina-02 .box-left {padding:30px;}
	.producto-02-lamina-02 .box-left h4, .producto-01-lamina-02 .box-left h4 {max-width:100%;font-size: 26px;}
	.producto-02-lamina-02 .box-right , .producto-01-lamina-02 .box-right {min-height:270px;background-size: 260px !important;}
	.producto-02-lamina-03 .box-right img {max-width:70% !important}
	.producto-02-lamina-03 .box-left .col-12.col-md-6 {padding:0;}

	.internta-producto-ver .producto-01-lamina-01 .box-middle {padding:30px;}
	.internta-producto-ver .producto-01-lamina-01 .box-right ul li {font-size:14px;}
	.producto-01-lamina-02 .box-left p {font-size:14px;}
	.producto-01-lamina-02 .box-right h5 {max-width: 45%;font-size: 11px;}
	.producto-01-lamina-02 .detalle-linea h4 {font-size:10px;}
	.producto-01-lamina-03 .box-left {padding:25px 30px}
	.producto-01-lamina-03 .box-left h3 {font-size:19px;}
	.producto-01-lamina-03 .box-left h5 {font-size:18px;}
	.producto-01-lamina-03 .box-right img {max-width: 70% !important;margin: 15px auto;}
	.producto-01-lamina-03 .box-right p {font-size:12px;}

  .botonera-gral {flex-direction:column;height:auto;}
  .header-botonera .align-items-stretch {flex-direction:column;}
  .botonera-gral .botones-asis {min-height:110px;}
  .texto-piel {margin-right: -40%;}
  .section.intern-categoria.info-products {padding:30px !important}
  .w-custom-sup {width:100%;margin-bottom:25px;}
  .section.intern-categoria.info-products p.text-custom {font-size: 30px;}
  .linea-puntos-sup {margin-bottom:40px;margin-top: 15px;}

  .slider-products .owl-stage-outer {height: auto !important;}
}							